/* Import de polices- more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');


@font-face { /*permet de définir les polices d'écriture à utiliser pour afficher les pages web*/
    font-family: "Merriweather";
}

body { /*On définit les carctéristiques de tout ce qui va être contenu dans le "corps" du code*/
  background-color: white ; /*couleur de fond*/
  font-family: "Open sans", sans-serif; /*définit la police*/
  padding: 25px 25px; /*définit les écarts de remplissage sur  les quatres côtés d'un élement*/
  font-size: 20px; /*taille de la police*/
  margin: 0; /*définit la taille des marges sur les quatres côtés de l'élément*/
  color: #666666; /*couleur CSS*/
  text-align: justify; /*permet de justifier la partie texte*/

}
.imagehaut { /*élément pour le logo de traduction*/
   top:10px; /*écart entre le logo et le haut de la page*/
   right:10px; /*écart entre le logo et le côté droit de la page*/
   background-position: right bottom; /*plaer le logo en haut à droite*/
   position: absolute; /*définit la façon dot un élément est positionné dans un document*/

}
a {
  text-decoration: none;
}

/* Navigation */

nav {
}

nav img {
  width: 180px; /*largeur*/
  padding: 0px auto;
}

nav span {
  font-size: 16px; /*taille du texte*/
  font-weight: 100; /*permet de définir la "graisse" utilisée pour le texte*/
  letter-spacing: 1px;
  margin: 10px 0px;
}

nav a {
  color: #666666;
}



h1 {
  font-family: "Merriweather", serif;
  text-align: center;
  font-size: 40px;
  color: #FF1493 ;
}





.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em; /* Titre par rapport à la marge */
}

.btn-primary {
    color: white;
    background-color: #ff6f6f;
    border: none;
    padding: 0 2.75em; 
    /*donne la taille et permet d'avoir une valeur proportionelle à la taille des caractères utilisés dans la page*/
    margin: 40px auto 80px auto;
    border-radius: .7em; /* bords du bouton plus ou moins arrondis */
    font-weight: bold;
    font-size : 18px;
}

.btn-primary:hover { /*couleur du bouton quand on passe la souris dessus*/
    background-color: #666666;
}

.btn-danger { /*caractéristiques du bouton "supprimer"*/
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-family: "Merriweather", serif;
    font-weight: bold;
    font-size: 25px;
    color: #666666;
    margin-bottom: 30px;
}

.shop-item-image {
    height: 320px;
    align-self: auto;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}
.shop-item-size {
  display : flex;
  align-items: center;
  padding: 10px;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-family: "Merriweather", serif;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}
.cart-size {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    font-family: "Merriweather", serif;
    margin-left: .5em;
    font-size: 1em;
}

.cart-item-image {
    width: 100px;
    height: auto;
    border-radius: 10px;
}
.cart-item-size {
    width: 75px;
    height: auto;
}
.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
    font-family: "Merriweather", serif;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-family: "Merriweather", serif;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
    font-family: "Merriweather", serif;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
    font-family: "Merriweather", serif;
}
